.header-area {
	background:url('images/path.png') no-repeat #76C7C0;
	padding:50px 0px;
}
.header-area:after {
	content:'';
	display:block;
	clear:both;
}
.logo-area img {
	margin-top:7px;
}
.main-menu {
	margin-left:50px;
}
.main-menu  ul{
	margin:0;
	padding:0;
	list-style:none;
}
.main-menu  ul li{
	float:left;
	margin-right:5px;
}
.main-menu  ul li a{
	text-decoration:none;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight:600;
	display:block;
	padding:10px 20px;
	text-transform:uppercase;
	transition:.5s;
}
.main-menu ul li a:hover, .active {
	background:#62A29E;
	border-radius:5px;
	box-shadow:0 5px 0 #528B86;	
}
.search-area i {
	margin-top:15px;
	color:#ffffff;
	font-size:14px;
	font-weight:600;
}